.lanyard-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lanyard-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
